mixin media-obj(class1, title, href, text)
  .d-flex.align-items-center.mb-5.link-media
    .flex-shrink-0
      span.fs-2(class=class1)
        span.path1
        span.path2
        span.path3
    .flex-grow-1.ms-3
      h4.m-0
        = title
      a.m-0(href=href)
        = text

mixin li-timeline(date, text)
  li 
    span.timeline-point 
    span.date
      = date
    p.captionList
      = text

mixin perfil(title, text)
  p
    i + 
    strong
      = title 
    span
      = text

mixin portfolio-wrap(src, href, href2)
  .portfolio-wrap
    img.img-fluid(src=src alt='')
    .portfolio-links
      a(href=href data-gall='portfolioGallery' title='App 1')
        i.icon-link
      a(href=href2 title='More Details')
        i.icon-plus

section.bg-style1(aria-label="Quem Somos")
  .container
    .row 
      .col-lg-12
        article
          h2 Quem
            span Somos
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos inventore, explicabo iusto sint quisquam doloribus, voluptatum voluptatibus dolorem facilis quibusdam quod possimus officia, tempora in fugiat blanditiis sit veniam a.
      .col-lg-3
        figure
          img(src="", alt="")

      .col-lg-8
        article
          h3 Designer 
            span de interiores
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum consequatur quod eos animi fugiat voluptatem magnam a, odit cum autem. Eos rem provident quis ducimus eveniet aperiam autem sed recusandae!
          .row 
            .col-lg-6
              article
                +perfil('Nome: ', 'lorem ipsum dolor')
                +perfil('Telefone: ', '+5561 99999-5555')
                +perfil('Cidade: ', 'Brasília - DF')
            .col-lg-6
              article 
                +perfil('E-mail: ', 'meu@email.com')
                +perfil('Freelancer: ', 'Sim')
                +perfil('Empresarial: ', 'Sim')
            .col-lg-12 
              article 
                dl 
                  dt Projetos
                  dd Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores asperiores laudantium quas neque ex ipsam reprehenderit vero minima eaque accusantium? Animi, quo iure facere unde autem quas at consequatur omnis?
                  dt Consultorias
                  dd Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt sed sit sapiente nulla iure nostrum voluptas similique amet odio. Unde in mollitia nihil ab voluptatum soluta labore assumenda! Quam, blanditiis?
                  dt Vitrines
                  dd Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, explicabo facere. Iusto reiciendis maiores commodi nulla. Et error vero consectetur perferendis aliquam est, aliquid numquam illo suscipit, repellat enim dolorum.

section.bg-secondary(aria-label="timeline")
  .container
    .row 
      .col-md-12
        article 
          h2 Currículo
          .timeline 
            .timeline-line 
              span.timeline-innerline 
            ul.listline
              +li-timeline('2000', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.')
              +li-timeline('2005', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.')
              +li-timeline('2010', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.')
              +li-timeline('2015', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.')
              +li-timeline('2021', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.')
section#portfolio.portfolio.bg-section(aria-label="portfólio")
  .container
    .row.aos-init.aos-animate(data-aos='fade-up' data-aos-delay='100')
      .col-lg-12
        article
          h2 Portfólio
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit quod, dolorum incidunt vero nulla eveniet quas quibusdam tempora labore adipisci repudiandae qui distinctio, cumque velit corrupti cupiditate commodi sint?
        .d-flex.justify-content-center
          ul#portfolio-flters
            li(data-filter="*" class='filter-active') Todos 
            li(data-filter=".filter-designer") Designer
            li(data-filter=".filter-produtos") Produtos
    .row.portfolio-grid.aos-init.aos-animate(data-aos='fade-up' data-aos-delay='100')
      .col-lg-12        
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=4', 'https://unsplash.it/800/600?random&seed=4', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=5', 'https://unsplash.it/800/600?random&seed=5', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=6', 'https://unsplash.it/800/600?random&seed=6', '#')
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=1', 'https://unsplash.it/800/600?random&seed=1', '#')
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=2', 'https://unsplash.it/800/600?random&seed=2', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=3', 'https://unsplash.it/800/600?random&seed=3', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=7', 'https://unsplash.it/800/600?random&seed=7', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=8', 'https://unsplash.it/800/600?random&seed=8', '#')
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=9', 'https://unsplash.it/800/600?random&seed=9', '#')
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=10', 'https://unsplash.it/800/600?random&seed=10', '#')
      .col-lg-4.col-md-6.filter-designer.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=11', 'https://unsplash.it/800/600?random&seed=11', '#')
      .col-lg-4.col-md-6.filter-produtos.portfolio-item
        +portfolio-wrap('https://unsplash.it/800/600?random&seed=12', 'https://unsplash.it/800/600?random&seed=12', '#')
        
section#contato
  .container
    .row 
      .col-lg-12 
        article
          h2 Contatos
          p Deixe sua mensagem. Em breve retornaremos. 
      .col-lg-5
        article.contact
          +media-obj('icon-find', 'Localização', '#', 'Lorem ipsum dolor sit amet')
          +media-obj('icon-email', 'E-mail', 'mailto:seu@email.com.br', 'seu@email.com.br')
          +media-obj('icon-phone', 'Telefone', 'tel:+5561 99999-9999', '+5561 99999-9999')
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1141.3817808666047!2d-47.8095802958237!3d-15.796813401702838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d3fcaa560c5%3A0xb8d4dc9df203a4ac!2sPraia%20Ermida!5e0!3m2!1spt-BR!2sbr!4v1625443849952!5m2!1spt-BR!2sbr' width='100%' height='290' style='border:0;' allowfullscreen='' loading='lazy')
      .col-lg-7
        article.contact
          form(action="")
            .row
              .col
                .mb-3
                  .input-group
                    span.input-group-text Nome e Sobre nome
                    input.form-control(type='text' aria-label='First name')
                    input.form-control(type='text' aria-label='Last name')
              .col-lg-12
                .mb-3
                  label.form-label(for='email') Email address
                  input#email.form-control(type='email' placeholder='name@example.com')
              .col-lg-12 
                .mb-3
                  label.form-label(for='assunto') Assunto
                  select.form-select#assunto(aria-label='Default select example')
                    option(selected='') Selecione
                    option(value='1') Orçamento
                    option(value='2') Dúvidas
                    option(value='3') Contato
              .col-lg-12
                .mb-3
                  label.form-label(for='mensagem') Mensagem
                  textarea#mensagem.form-control(rows='6')
                .mb-3.text-center
                  button.btn.btn-dark(type='submit') Enviar mensagem
section
  .container
    .row
      .col-lg-12 
        article
          h2 Visite Nossas 
            span redes sociais
          span.me-2.link-media--ins
            a(href='#')
              span.fs-2.icon-intagram
                span.path1
                span.path2
                span.path3
                span.path4
                span.path5
          span.me-2.link-media--zap
            a(href='')
              span.fs-2.icon-whats
                span.path1
                span.path2
                span.path3
                span.path4
          span.me-2.link-media
            a(href='')
              span.fs-2.icon-be
                span.path1
                span.path2
                span.path3
                span.path4
                span.path5