mixin media-obj(class1, title, href, text)
  .d-flex.align-items-center.mb-5.link-media
    .flex-shrink-0
      span.fs-2(class=class1)
        span.path1
        span.path2
        span.path3
    .flex-grow-1.ms-3
      h4.m-0
        = title
      a.m-0(href=href)
        = text

mixin li-timeline(date, text)
  .timeline-vz-cols
    .circle-vz
    .date-vz
      = date
    .text
      = text


mixin perfil(title, text)
  p
    i + 
    strong
      = title 
    span
      = text

mixin portfolio-wrap(src, href, href2)
  .portfolio-wrap
    img.img-fluid(src=src alt='')
    .portfolio-links
      a(href=href data-gall="portfolioGallery" class="venobox vbox-item" title='Maximizar')
        i.icon-plus
      a(href=href2 title='Mais detalhes')
        i.icon-link

section.bg-quemsomos#quemsomos(aria-label="Quem Somos")
  .container
    .row 
      .col-lg-12
        article
          h2 
            span Quem
            span &nbsp;Somos
          p O serviço de Designer é beleza, mobilidade, funcionalidade e qualidade. Chega um momento em fazemos escolhas, onde o principal do trabalho é o prazer e reconhecimento e a melhor satisfação desse trabalho é quando na entrega você observa seu cliente e todas as suas expressões são de satisfação e alegria bem estampada no rosto, aquele sorriso, essa é minha realização. Está tudo certo, lindo!!!

      .col-lg-3
        figure.anime
          img.img-fluid(src="images/foto.jpg", alt="Foto Maria Rita")

      .col-lg-8
        article
          h3 
            span Designer
            span &nbsp;de interiores
          p Criar ambientes confortáveis, com praticidade e mobilidade, busco a satisfação e a felicidade do cliente na entrega dos trabalhos. Apaixonada por arte e decoração, hoje me dedico ao Design que é uma paixão. 
          .row 
            .col-lg-6
              article
                +perfil('Nome: ', 'Maria Rita da Silva Domingues')
                +perfil('Telefone: ', '+55 71 9344-2294')
                +perfil('Cidade: ', 'Brasília - DF')
            .col-lg-6
              article 
                +perfil('E-mail: ', 'contato@mariaritadesigner.com.br')
                +perfil('Freelancer: ', 'Sim')
                +perfil('Empresarial: ', 'Sim')
            .col-lg-12 
              article 
                dl 
                  dt Projetos
                  dd Criação de objetos de Decoração. Ações Humanitárias (Atividades de promoção a Saúde e Ações sociais). Viagens. Caminhadas e trilhas. Vinhos. Gastronomia vegetariana. Designer de interiores, Paisagismo. Estudar.
                  dt Consultorias
                  dd Uma consultoria de designer de interiores presta serviço, fazer avaliação de ambiente, decoração, móveis, organizar de forma ampla e confortável, previnir de futuros problemas e agregar a beleza e usabilidade do local. 
                  dt Vitrines
                  dd Vitrine fala com o cliente: Quando o consumidor já para, olha a Vitrine e entra na loja, nesse momento lhe foi despertado de alguma forma emoções e sensações, isso acontece, por que foi criado uma mensagem através da  Vitrine e essa comunicação, despertou o desejo do cliente, de entrar na loja e levar o produto..

section.bg-secondary.bg-homeStyle(aria-label="timeline")
  .container
    .row 
      .col-lg-12
        article
          h2.h2-timeline Bio
      .col-lg-12
        .py-5.timeline-res
          .progress.timeline-vz.animeLine
            +li-timeline('1985', 'Habilitação Profissional do Magistério - Instituto de Educação do Ceará - Fortaleza - CE')
            +li-timeline('1991', 'Curso de Formação Militar - Marinha do Brasil - Rio de Janeiro - RJ')
            +li-timeline('2016', 'Curso Técnico em Radiologia - Escola Técnica Sete - Salvador - BA')
            +li-timeline('2005', 'Especialização em Auditoria de Sistema de Saúde - Universidade Estácio de Sá - Salvador - BA')
            +li-timeline('2010', 'Curso Superior de Tecnologia em Gestão Hospitalar - Universidade Estácio de Sá - Rio de Janeiro - RJ')
            +li-timeline('2020', 'Estudante de Design de Interiores - Universidade Paulista - Brasília - DF')



section#portfolio.portfolio.bg-section.anime(aria-label="portfólio")
  .container
    .row.aos-init.aos-animate(data-aos='fade-up' data-aos-delay='100')
      .col-lg-12
        article
          h2 Portfólio
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit quod, dolorum incidunt vero nulla eveniet quas quibusdam tempora labore adipisci repudiandae qui distinctio, cumque velit corrupti cupiditate commodi sint?
        .d-flex.justify-content-center
          ul#portfolio-flters
            li(data-filter="*" class='filter-active') Todos 
            li(data-filter=".filter-designer") Designer
            li(data-filter=".filter-produtos") Produtos
    .row.portfolio-grid.aos-init.aos-animate(data-aos='fade-up' data-aos-delay='100')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/apt-recife/1.jpg', 'images/fotos/apt-recife/1.jpg', 'portfolio.html#portfolio') 
      .col-lg-4.col-sm-6.filter-produtos.portfolio-item
        +portfolio-wrap('images/fotos/produtos/1.jpg', 'images/fotos/produtos/1.jpg', 'produtos.html#produtos')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/lojinha-bete/3.jpg', 'images/fotos/lojinha-bete/3.jpg', '#')
      .col-lg-4.col-sm-6.filter-produtos.portfolio-item
        +portfolio-wrap('images/fotos/penduradores/1.jpg', 'images/fotos/penduradores/1.jpg', '#')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/prototipos/3.jpg', 'images/fotos/prototipos/3.jpg', '#')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/sala-cozinha-salvador-2020/4.jpg', 'images/fotos/sala-cozinha-salvador-2020/4.jpg', '#')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/salao/3.jpg', 'images/fotos/salao/3.jpg', '#')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/vitrine/1.jpg', 'images/fotos/vitrine/1.jpg', '#')
      .col-lg-4.col-sm-6.filter-designer.portfolio-item
        +portfolio-wrap('images/fotos/salao2/1.jpg', 'images/fotos/salao2/1.jpg', '#')
      .col-lg-4.col-sm-6.filter-produtos.portfolio-item
        +portfolio-wrap('images/fotos/produtos/16.jpg', 'images/fotos/produtos/16.jpg', '#')
      .col-lg-4.col-sm-6.filter-produtos.portfolio-item
        +portfolio-wrap('images/fotos/produtos/15.jpg', 'images/fotos/produtos/15.jpg', '#')
      .col-lg-4.col-sm-6.filter-produtos.portfolio-item
        +portfolio-wrap('images/fotos/penduradores/4.jpg', 'images/fotos/penduradores/4.jpg', '#')
        
section#contato
  .container
    .row 
      .col-lg-12 
        article
          h2 Contatos
          p Deixe sua mensagem. Em breve retornaremos. 
      .col-lg-5
        article.contact
          +media-obj('icon-find', 'Localização', '#', 'Lorem ipsum dolor sit amet')
          +media-obj('icon-email', 'E-mail', 'mailto:contato@mariaritadesigner.com.br', 'contato@mariaritadesigner.com.br')
          +media-obj('icon-phone', 'Telefone', 'tel:+55 71 9344-2294', '+55 71 9344-2294')
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1141.3817808666047!2d-47.8095802958237!3d-15.796813401702838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3d3fcaa560c5%3A0xb8d4dc9df203a4ac!2sPraia%20Ermida!5e0!3m2!1spt-BR!2sbr!4v1625443849952!5m2!1spt-BR!2sbr' width='100%' height='290' style='border:0;' allowfullscreen='' loading='lazy')
      .col-lg-7
        article.contact
          form(action="")
            .row
              .col
                .mb-3
                  label.form-label(for='name') Nome
                  input.form-control#name(type='text')
              .col-lg-12
                .mb-3
                  label.form-label(for='email') E-mail
                  input#email.form-control(type='email' placeholder='name@example.com')
              .col-lg-12 
                .mb-3
                  label.form-label(for='assunto') Assunto
                  select.form-select#assunto(aria-label='Default select example')
                    option(selected='') Selecione
                    option(value='1') Orçamento
                    option(value='2') Dúvidas
                    option(value='3') Contato
              .col-lg-12
                .mb-3
                  label.form-label(for='mensagem') Mensagem
                  textarea#mensagem.form-control(rows='6')
                .mb-3.text-center
                  button.btn.btn-dark(type='submit') Enviar mensagem
section
  .container
    .row
      .col-lg-12 
        article
          h2 
            span Visite Nossas
            span &nbsp;redes sociais
          span.me-2.link-media--ins
            a(href='#')
              span.fs-2.icon-intagram
                span.path1
                span.path2
                span.path3
                span.path4
                span.path5
          span.me-2.link-media--zap
            a(href='')
              span.fs-2.icon-whats
                span.path1
                span.path2
                span.path3
                span.path4
          span.me-2.link-media
            a(href='')
              span.fs-2.icon-be
                span.path1
                span.path2
                span.path3
                span.path4
                span.path5